server:
  port: 8084

spring:
  application:
    name: API-GATEWAY

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: USER-MICROSERVICES
              uri: lb://USER-MICROSERVICES
              predicates:
                - Path=/user/**

            - id: HOTEL-MICROSERVICES
              uri: lb://HOTEL-MICROSERVICES
              predicates:
                - Path=/hotel/**

            - id: RATING-SERVICE
              uri: lb://RATING-SERVICE
              predicates:
                - Path=/rating/**

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: "*"

jwt:
  secret: my-super-secret-jwt-key-which-is-at-least-32-characters-long
